## Merging reviews of the same movies, scores and language

In [46]:
import pandas as pd, numpy as np, ast, re

In [53]:
def parse_np_array(array_string):
    pattern = r'''# Match (mandatory) whitespace between...
              (?<=\]) # ] and
              \s+
              (?= \[) # [, or
              |
              (?<=[^\[\]\s]) 
              \s+
              (?= [^\[\]\s]) # two non-bracket non-whitespace characters
           '''
    fixed_string = re.sub(pattern, ',', array_string, flags=re.VERBOSE)
    return np.array(ast.literal_eval(fixed_string))

In [54]:
LMSR_df = pd.read_csv("datasets/vectorized_movie_data.csv")
LMSR_df["rev_vec"] = LMSR_df["rev_vec"].apply(lambda x: parse_np_array(x) if type(x) == str and "[" in x else None)
LMSR_df.head(5)

,Language,Movie_ID,Score,rev_vec
0,en,-800777728,9,"[0.0263540316, 0.045894552, 0.0318471752, 0.08..."
1,en,-800777728,10,"[0.04662874, 0.02495674, 0.03526414, 0.0948760..."
2,en,-1018312192,8,"[0.06351074, 0.03757826, 0.03429701, 0.0898604..."
3,en,-1018312192,4,"[0.03319103, 0.02236041, 0.01599475, 0.1140876..."
4,en,-1018312192,7,"[0.01939954, 0.04645675, 0.03356002, 0.1049862..."

In [103]:
def merging_function(frame):
    return np.mean(frame["rev_vec"])

In [130]:
LMS_r = LMSR_df.copy()
# LMS_r = LMS_r.groupby(["Movie_ID","Language","Score"])
LMS_r = LMS_r.groupby(["Movie_ID","Language","Score"], as_index=False).apply(merging_function)
LMS_r.to_frame().head(5)

                                                                            0
Movie_ID    Language Score
-2144779484 en       4      [0.07401991, 0.04054779, 0.03553367, 0.0709018...
                     9      [0.06254335065, 0.0319293781, 0.03085142015, 0...
            tr       7      [-0.04627872, -0.12108444, 0.12996513, 0.05660...
                     9      [-0.02786085, -0.07367174, 0.07948475, 0.03482...
-2104441082 en       10     [0.0295819733, 0.0301975626, 0.0101355836, 0.0...

In [131]:
LMS_r_df = LMS_r.reset_index().rename({0:"merged_reviews_vector"}, axis=1)
LMS_r_df.head(5)

,Movie_ID,Language,Score,merged_reviews_vector
0,-2144779484,en,4,"[0.07401991, 0.04054779, 0.03553367, 0.0709018..."
1,-2144779484,en,9,"[0.06254335065, 0.0319293781, 0.03085142015, 0..."
2,-2144779484,tr,7,"[-0.04627872, -0.12108444, 0.12996513, 0.05660..."
3,-2144779484,tr,9,"[-0.02786085, -0.07367174, 0.07948475, 0.03482..."
4,-2104441082,en,10,"[0.0295819733, 0.0301975626, 0.0101355836, 0.0..."

In [132]:
LMS_r_df.to_csv("datasets/LMS_r_merged_reviews_per_movie_language_score.csv", index=False)