## Merging reviews of the same movies, scores and language

In [1]:
import pandas as pd, numpy as np, ast, re

In [2]:
def parse_np_array(array_string):
    pattern = r'''# Match (mandatory) whitespace between...
              (?<=\]) # ] and
              \s+
              (?= \[) # [, or
              |
              (?<=[^\[\]\s]) 
              \s+
              (?= [^\[\]\s]) # two non-bracket non-whitespace characters
           '''
    fixed_string = re.sub(pattern, ',', array_string, flags=re.VERBOSE)
    return np.array(ast.literal_eval(fixed_string))

In [4]:
LMSR_df = pd.read_csv("datasets/LMSR_rev2vec.csv")
LMSR_df["rev_vec"] = LMSR_df["rev_vec"].apply(lambda x: parse_np_array(x) if type(x) == str and "[" in x else None)
LMSR_df.head(5)

,Language,Movie_ID,Score,rev_vec
0,en,-800777728,9,"[0.0476252735, 0.0501914099, 0.00908411294, 0...."
1,en,-800777728,10,"[0.06245849, 0.03659325, 0.00594799, 0.0885859..."
2,en,-1018312192,8,"[0.06340759, 0.03700611, 0.00736885, 0.0935821..."
3,en,-1018312192,4,"[0.05355327, 0.03974125, -0.01364674, 0.095303..."
4,en,-1018312192,7,"[0.0395327732, 0.0405981392, 0.00484229811, 0...."

In [5]:
def merging_function(frame):
    return np.mean(frame["rev_vec"])

In [6]:
LMS_r = LMSR_df.copy()
# LMS_r = LMS_r.groupby(["Movie_ID","Language","Score"])
LMS_r = LMS_r.groupby(["Movie_ID","Language","Score"], as_index=False).apply(merging_function)
LMS_r.to_frame().head(5)

                                                                            0
Movie_ID    Language Score
-2144779484 en       4      [0.0766620412, 0.0301413387, 0.022697458, 0.08...
                     9      [0.0556243919, 0.0306321047, -0.00087418582, 0...
            tr       7      [-0.108544111, 0.235523254, 0.111588225, -0.09...
                     9      [0.0311885718, 0.141891941, 0.0640149638, 0.15...
-2104441082 en       10     [0.02883458, 0.03170469, 0.00097861, 0.0681932...

In [7]:
LMS_r_df = LMS_r.reset_index().rename({0:"merged_reviews_vector"}, axis=1)
LMS_r_df.head(5)

,Movie_ID,Language,Score,merged_reviews_vector
0,-2144779484,en,4,"[0.0766620412, 0.0301413387, 0.022697458, 0.08..."
1,-2144779484,en,9,"[0.0556243919, 0.0306321047, -0.00087418582, 0..."
2,-2144779484,tr,7,"[-0.108544111, 0.235523254, 0.111588225, -0.09..."
3,-2144779484,tr,9,"[0.0311885718, 0.141891941, 0.0640149638, 0.15..."
4,-2104441082,en,10,"[0.02883458, 0.03170469, 0.00097861, 0.0681932..."

In [ ]:
LMS_r_df.to_csv("datasets/LMS_r_merged_reviews_per_movie_language_score.csv", index=False)