In [69]:
import pandas as pd, numpy as np, pickle, ast

In [70]:
en_word2cluster_ = pickle.load(open("datasets/en_word2cluster.pickle", "rb"), encoding="iso-8859-1")
tr_word2cluster = pickle.load(open("datasets/tr_word2cluster.pickle", "rb"), encoding="iso-8859-1")

In [88]:
en_word2cluster = dict()
for w, vec in en_word2cluster_.items():
    en_word2cluster[w.decode("utf8")] = vec

In [90]:
df = pd.read_csv("datasets/tokenized_reviews.csv")
df.head(5)

,Language,Movie_ID,Review,Score,tokenized_reviews
0,en,-800777728,i love science fiction and i hate superheroes ...,9,"['love', 'science', 'fiction', 'hate', 'superh..."
1,en,-800777728,the movie is absolutely incredible all the per...,10,"['the', 'movie', 'absolutely', 'incredible', '..."
2,en,-1018312192,in a cinematic era dominated by reboots and mi...,8,"['cinematic', 'era', 'dominated', 'reboots', '..."
3,en,-1018312192,movie review on rise of the planet of the apes...,4,"['movie', 'review', 'rise', 'the', 'planet', '..."
4,en,-1018312192,during experiments to find a cure for alzheime...,7,"['during', 'experiments', 'find', 'cure', 'for..."

# Getting Reviews Vectors

In [91]:
def rev2vec(rev, clusters=False, clusters_dict_name=None, vectors_dict_name="en_vects",strategy="avg", vec_dim=300):
    strategies = {"avg":np.mean, "median":np.median, "sum":np.sum}
    if clusters:
        return strategies[strategy](np.array([globals()[clusters_dict_name][w] for w in rev.split(" ") if w in globals()[clusters_dict_name]]), axis=0)
    return strategies[strategy](np.array([globals()[vectors_dict_name][w] for w in rev.split(" ") if w in globals()[vectors_dict_name]]), axis=0)

In [92]:
def getvec(x, clusters=False):
    lang, rev = x.split(":::::")
    if clusters:
        return rev2vec(rev, clusters=True, clusters_dict_name=lang+"_word2cluster")
    return rev2vec(rev, lang+"_vects")

In [93]:
df_vectorized = df.copy()
df_vectorized["lang_rev"] = df_vectorized[["Language", "Review"]].apply(lambda x: x[0]+":::::"+x[1], axis=1)
df_vectorized["rev_vec"] = df_vectorized["lang_rev"].apply(lambda x:getvec(x, True))
df_vectorized = df_vectorized.drop(["lang_rev", "Review","tokenized_reviews"], axis=1)
df_vectorized.head(5)

/usr/local/lib/python3.5/dist-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

,Language,Movie_ID,Score,rev_vec
0,en,-800777728,9,"[0.0476253, 0.0501914, 0.00908411, 0.0771895, ..."
1,en,-800777728,10,"[0.0624585, 0.0365933, 0.00594799, 0.088586, -..."
2,en,-1018312192,8,"[0.0634076, 0.0370061, 0.00736885, 0.0935822, ..."
3,en,-1018312192,4,"[0.0535533, 0.0397413, -0.0136467, 0.0953033, ..."
4,en,-1018312192,7,"[0.0395328, 0.0405981, 0.0048423, 0.0989682, -..."

In [94]:
df_vectorized.to_csv("datasets/LMSR_rev2vec.csv", index=False)